<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Certificate</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/static/materialize/materialize.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        const theme = localStorage.getItem('theme');
        if (theme === 'dark') {
            document.documentElement.setAttribute('theme', 'dark');
        }
    </script>
</head>
<body>
    {{ template "header.html" . }}
    <div class="container">
        <h1 class="center-align">Create Certificate</h1>
        <form id="createCertificateForm" action="/create_certificate" method="POST" onsubmit="submitCreateCertificateForm(event)">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="common_name" name="common_name" class="validate" required>
                    <label for="common_name" class="active">Common Name (CN)</label>
                </div>
                <!-- DNS Names -->
                <div class="col s12">
                    <h6>DNS Name(s) of the Certificate</h6>
                    <div class="input-field">
                        <div id="dns_list" class="{{.textColor}}">
                        </div>
                        <button type="button" class="btn-floating waves-effect waves-light green" onclick="addDnsField()">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>

                <!-- IP Addresses -->
                <div class="col s12">
                    <h6>IP Address(es) of the Certificate</h6>
                    <div class="input-field">
                        <div id="ip_list" class="{{.textColor}}">
                        </div>
                        <button type="button" class="btn-floating waves-effect waves-light green" onclick="addIpField()">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="validity_years" name="validity_years" class="validate" required oninput="enableCreateCertButton()">
                    <label for="validity_years" class="active">Validity Period (Years)</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="organization" name="organization" class="validate" oninput="enableCreateCertButton()">
                    <label for="organization" class="active">Organization</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="organization_unit" name="organization_unit" class="validate" oninput="enableCreateCertButton()">
                    <label for="organization_unit" class="active">Organization Unit</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="country" name="country" class="validate" oninput="enableCreateCertButton()">
                    <label for="country" class="active">Country</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="state" name="state" class="validate" oninput="enableCreateCertButton()">
                    <label for="state" class="active">State</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="location" name="location" class="validate" oninput="enableCreateCertButton()">
                    <label for="location" class="active">Location</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="email" name="email" class="validate" required>
                    <label for="email" class="active">Email</label>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;"></div>
            <div class="row">
                <button id="createCertButton" type="submit" class="waves-effect waves-light btn green" disabled>
                    Create Certificate                                
                </button>
</div>
        </form>
    </div>
    
    <!-- Materialize JavaScript -->
    <script src="/static/materialize/materialize.js"></script>
    <script src="/static/script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize Materialize components
            var elems = document.querySelectorAll('select');
            M.FormSelect.init(elems);

            // Initialize general certificate options
            const generalCertOptions = JSON.parse(`{{ .generalCertOptions | toJson }}`);
            if (generalCertOptions) {
                document.querySelector('input[name="validity_years"]').value = generalCertOptions.ValidityPeriod || '';
                document.querySelector('input[name="organization"]').value = generalCertOptions.Organization || '';
                document.querySelector('input[name="organization_unit"]').value = generalCertOptions.OrganizationUnit || '';
                document.querySelector('input[name="country"]').value = generalCertOptions.Country || '';
                document.querySelector('input[name="state"]').value = generalCertOptions.State || '';
                document.querySelector('input[name="location"]').value = generalCertOptions.Location || '';
                document.querySelector('input[name="email"]').value = generalCertOptions.Email || '';
            }
        });

        function addDnsField(value = '') {
            const dnsList = document.getElementById('dns_list');
            const entry = document.createElement('div');
            entry.className = 'dns-entry input-field col s12';
            entry.style.display = 'flex';
            entry.style.alignItems = 'center';
            entry.innerHTML = `
                <input type="text" id="dns" name="dns" class="validate" oninput="enableCreateCertButton()">
                <label for="dns" class="active">DNS Name or FQDN</label>
                <button type="button" class="btn-floating waves-effect waves-light red" onclick="removeField(this)" style="margin-left: 10px; oninput="enableCertManagerSaveButton()">
                    <i class="material-icons">remove</i>
                </button>            
            `;
            dnsList.appendChild(entry);
        }

        function addIpField(value = '') {
            const ipList = document.getElementById('ip_list');
            const entry = document.createElement('div');
            entry.className = 'ip-entry input-field col s12';
            entry.style.display = 'flex';
            entry.style.alignItems = 'center';
            entry.innerHTML = `
                <input type="text" id="ip" name="ip" class="validate" oninput="enableCreateCertButton()">
                <label for="ip" class="active">IP-Address</label>
                <button type="button" class="btn-floating waves-effect waves-light red" onclick="removeField(this)" style="margin-left: 10px; oninput="enableCertManagerSaveButton()">
                    <i class="material-icons">remove</i>
                </button>            
            `;
            ipList.appendChild(entry);
        }

        function removeField(button) {
            button.parentElement.remove();
            enableCertManagerSaveButton();
        }

        function enableCreateCertButton() {
            const saveButton = document.getElementById('createCertButton');
            saveButton.disabled = false;
        }

        function submitCreateCertificateForm(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);

            fetch('/create-certificate', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    if (confirm(data.error + " Do you want to overwrite it?")) {
                        formData.set('overwrite', 'yes');
                        fetch('/create-certificate', {
                            method: 'POST',
                            body: formData
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.message) {
                                window.location.href = data.redirect;
                            } else {
                                new M.Toast({text: 'Error creating certificate'});
                            }
                        });
                    }
                } else {
                    window.location.href = data.redirect;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                new M.Toast({text: 'Error creating certificate'});
            });
        }
    </script>
</body>
</html>
