<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/static/materialize/materialize.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS and Theme Settings -->
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        const theme = localStorage.getItem('theme');
        if (theme) document.documentElement.setAttribute('theme', theme);
    </script>
</head>
<body class="{{.theme}}" theme="{{.theme}}">
    {{ template "header.html" . }}
    <div class="container">
        <h1 class="center-align">Settings</h1>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Certificate Manager Certificate Defaults</span>
                        <form id="certManagerForm" onsubmit="submitCertManagerSettings(event)">
                            <div class="row">
                                <!-- DNS Names -->
                                <div class="col s12">
                                    <h6>DNS Name(s) of the Certificate Manager</h6>
                                    <div class="input-field">
                                        <div id="dns_list" class="{{.textColor}}">
                                        </div>
                                        <button type="button" class="btn-floating waves-effect waves-light green" onclick="addDnsField()">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>

                                <!-- IP Addresses -->
                                <div class="col s12">
                                    <h6>IP Address(es) of the Certificate Manager</h6>
                                    <div class="input-field">
                                        <div id="ip_list" class="{{.textColor}}">
                                            <!-- Empty by default, will be populated by saved settings -->
                                        </div>
                                        <button type="button" class="btn-floating waves-effect waves-light green" onclick="addIpField()">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 20px;"></div>
                            <div>
                                <button id="saveAndRecreateHomelabCert" type="button" class="waves-effect waves-light btn orange" onclick="recreateHomelabCertButtonClick()" disabled>
                                    <i class="material-icons left" style="margin-right: 8px";>autorenew</i>
                                    Recreate HomeLAB Certificate Manager Certificate with this settings
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add spacing between the cards -->
        <div class="row" style="margin-bottom: 20px;"></div>

        <!-- New Card for General Certificate Options -->
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">General Certificate Defaults</span>
                        <form id="generalCertOptionsForm" action="/settings/generalcertoptions" method="POST" onsubmit="submitGeneralCertOptions(event)">
                            <!-- Form fields for General Cert Options -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="validity_period" name="validity_period" class="validate" oninput="enableGeneralOptionsSaveButton()" required>
                                    <label for="validity_period" class="active">Validity Period (Years)</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="organization" name="organization" class="validate" oninput="enableGeneralOptionsSaveButton()">
                                    <label for="organization" class="active">Organization</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="organization_unit" name="organization_unit" class="validate" oninput="enableGeneralOptionsSaveButton()">
                                    <label for="organization_unit" class="active">Organization Unit</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="country" name="country" class="validate" oninput="enableGeneralOptionsSaveButton()">
                                    <label for="country" class="active">Country</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="state" name="state" class="validate" oninput="enableGeneralOptionsSaveButton()">
                                    <label for="state" class="active">State</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="location" name="location" class="validate" oninput="enableGeneralOptionsSaveButton()">
                                    <label for="location" class="active">Location</label>
                                </div>
                            </div>
                            <div class="card-action">
                            <div class="row" style="margin-bottom: 20px;"></div>
                            <button id="saveGeneralOptionsButton" type="submit" class="waves-effect waves-light btn green" disabled>
                                <i class="material-icons left" style="margin-right: 8px;">save</i> 
                                Save General Certificate Options                                
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add spacing between the cards -->
        <div class="row" style="margin-bottom: 20px;"></div>

        <div class="card">
            <div class="card-content">
                <span class="card-title">Change Password</span>
                <form id="changePasswordForm" onsubmit="changePassword(event)">
                    <div class="input-field col s12">
                        <input id="old_password" name="old_password" type="password" class="validate" required>
                        <label for="old_password">Old Password</label>
                    </div>
                    <div class="row" style="margin-bottom: 20px;"></div>
                    <div class="input-field col s12">
                        <input id="new_password" name="new_password" type="password" class="validate" required>
                        <label for="new_password">New Password</label>
                    </div>
                    <div class="row" style="margin-bottom: 20px;"></div>
                    <div class="input-field col s12">
                        <input id="confirm_password" name="confirm_password" type="password" class="validate" required>
                        <label for="confirm_password">Confirm New Password</label>
                    </div>
                    <div class="row" style="margin-bottom: 20px;"></div>
                    <button id="changePasswordButton" class="btn waves-effect waves-light" type="submit">
                        <i class="material-icons left" style="margin-right: 8px;">lock_reset</i> 
                        Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize Materialize components
            var elems = document.querySelectorAll('select');
            M.FormSelect.init(elems);

            // Initialize any existing values
            const certManagerSettings = JSON.parse(`{{ .certManagerSettings | toJson }}`);
            if (certManagerSettings) {
                // Fill DNS names
                if (certManagerSettings.DnsNames && certManagerSettings.DnsNames.length > 0) {
                    certManagerSettings.DnsNames.forEach(dns => {
                        if (dns !== "") {
                            addDnsField(dns);
                        }
                    });
                }
                
                // Fill IP addresses
                if (certManagerSettings.IpAddresses && certManagerSettings.IpAddresses.length > 0) {
                    certManagerSettings.IpAddresses.forEach(ip => {
                        if (ip !== "") {
                            addIpField(ip);
                        }
                    });
                }
            }

            // Initialize general certificate options
            const generalCertOptions = JSON.parse(`{{ .generalCertOptions | toJson }}`);
            if (generalCertOptions) {
                document.querySelector('input[name="validity_period"]').value = generalCertOptions.ValidityPeriod || '';
                document.querySelector('input[name="organization"]').value = generalCertOptions.Organization || '';
                document.querySelector('input[name="organization_unit"]').value = generalCertOptions.OrganizationUnit || '';
                document.querySelector('input[name="country"]').value = generalCertOptions.Country || '';
                document.querySelector('input[name="state"]').value = generalCertOptions.State || '';
                document.querySelector('input[name="location"]').value = generalCertOptions.Location || '';
            }

            // Initialize change password form
            const newPassword = document.getElementById('new_password');
            const confirmPassword = document.getElementById('confirm_password');
            const changePasswordButton = document.getElementById('changePasswordButton');

            function validatePasswords() {
                if (newPassword.value && confirmPassword.value) {
                    changePasswordButton.disabled = false;
                } else {
                    changePasswordButton.disabled = true;
                }
            }
            newPassword.addEventListener('input', validatePasswords);
            confirmPassword.addEventListener('input', validatePasswords);

            const saveButton = document.getElementById('saveandRecreateHomelabCert');
            saveButton.disabled = true;
        });

        function addDnsField(value = '') {
            const dnsList = document.getElementById('dns_list');
            const entry = document.createElement('div');
            entry.className = 'dns-entry input-field col s12';
            entry.style.display = 'flex';
            entry.style.alignItems = 'center';
            entry.innerHTML = `
                <input type="text" id="dns" name="dns_names[]" class="validate" value="${value}" placeholder="e.g., certmanager.local" style="flex: 1;" oninput="enableCertManagerSaveButton()">
                <label for="dns" class="active">DNS Name or FQDN</label>
                <button type="button" class="btn-floating waves-effect waves-light red" onclick="removeField(this)" style="margin-left: 10px; oninput="enableCertManagerSaveButton()">
                    <i class="material-icons">remove</i>
                </button>            
            `;
            dnsList.appendChild(entry);
        }

        function addIpField(value = '') {
            const ipList = document.getElementById('ip_list');
            const entry = document.createElement('div');
            entry.className = 'ip-entry input-field col s12';
            entry.style.display = 'flex';
            entry.style.alignItems = 'center';
            entry.innerHTML = `
                <input type="text" id="ip" name="ip_addresses[]" class="validate" value="${value}" placeholder="e.g., 192.168.1.100" style="flex: 1;" oninput="enableCertManagerSaveButton()">
                <label for="ip" class="active">IP-Address</label>
                <button type="button" class="btn-floating waves-effect waves-light red" onclick="removeField(this)" style="margin-left: 10px; oninput="enableCertManagerSaveButton()">
                    <i class="material-icons">remove</i>
                </button>
            `;
            ipList.appendChild(entry);
        }

        function removeField(button) {
            button.parentElement.remove();
            enableCertManagerSaveButton();
        }

        function enableCertManagerSaveButton() {
            const saveButton = document.getElementById('saveAndRecreateHomelabCert');
            saveButton.disabled = false;
        }

        function enableGeneralOptionsSaveButton() {
            const saveButton = document.getElementById('saveGeneralOptionsButton');
            saveButton.disabled = false;
        }

        function recreateHomelabCertButtonClick() {

            const dnsInputs = document.getElementsByName('dns_names[]');
            const ipInputs = document.getElementsByName('ip_addresses[]');
            
            const data = {
                dns_names: Array.from(dnsInputs).map(input => input.value).filter(v => v),
                ip_addresses: Array.from(ipInputs).map(input => input.value).filter(v => v)
            };

            fetch('/settings/certmanager', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) throw new Error('Failed to save settings');
                new M.Toast({text:'Settings saved successfully'});
                const saveButton = document.getElementById('saveandRecreateHomelabCert');
                saveButton.disabled = true;
            })
            .catch(error => {
                new M.Toast({text: error.message, classes: 'red'});
            });
            recreateHomelabCert();
        }

        function submitGeneralCertOptions(event) {
            event.preventDefault();
            const form = event.target;

            const data = {
                validity_period: form.validity_period.value,
                organization: form.organization.value,
                organization_unit: form.organization_unit.value,
                country: form.country.value,
                state: form.state.value,
                location: form.location.value,
            };

            fetch('/settings/generalcertoptions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) throw new Error('Failed to save settings');
                new M.Toast({text: 'Settings saved successfully', classes: 'green'});
                const saveButton = document.getElementById('saveGeneralOptionsButton');
                saveButton.disabled = true;
            })
            .catch(error => {
                new M.Toast({text: error.message, classes: 'red'});
            });
        }

        function changePassword(event) {
            event.preventDefault();
            const form = document.getElementById('changePasswordForm');
            const oldPassword = form.old_password.value;
            const newPassword = form.new_password.value;
            const confirmPassword = form.confirm_password.value;
            const button = document.getElementById('changePasswordButton');

            if (newPassword !== confirmPassword) {
                showToast('New passwords do not match', 'red', button);
                return;
            }

            fetch('/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    old_password: oldPassword,
                    new_password: newPassword
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showToast('Password changed successfully', 'green', button);
                    form.reset();
                    changePasswordButton.disabled = true;
                    setTimeout(() => {
                        location.reload();
                    }, 2000); // Wait 2 seconds before refreshing the page
                } else {
                    showToast(data.message, 'red', button);
                }
            })
            .catch(error => {
                showToast('Error changing password', 'red', button);
            });
        }
        
        function showToast(message, classes, button) {
            const toast = document.createElement('div');
            toast.className = `toast-custom ${classes}`;
            toast.innerText = message;
            document.body.appendChild(toast);

            const rect = button.getBoundingClientRect();
            toast.style.top = `${rect.top + window.scrollY}px`;
            toast.style.left = `${rect.left + window.scrollX}px`;

            setTimeout(() => {
                toast.remove();
            }, 3000);
        }

    </script>
    <!-- Materialize JavaScript -->
    <script src="/static/materialize/materialize.js"></script>
    <!-- Custom JavaScript -->
    <script src="/static/script.js"></script>
</body>
</html>
