<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/css/materialize.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        const theme = localStorage.getItem('theme');
        if (theme === 'dark') {
            document.documentElement.setAttribute('theme', 'dark');
        }
    </script>
</head>
<body>
    {{ template "header.html" . }}
    <div class="container">
        <h1 class="center-align">Settings</h1>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="setting1" type="text" class="validate">
                        <label for="setting1">Setting 1</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="setting2" type="text" class="validate">
                        <label for="setting2">Setting 2</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Additional Settings</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Save
                    <i class="material-icons right">save</i>
                </button>
            </form>
        </div>
    </div>
    <!-- Materialize JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/js/materialize.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="/static/script.js"></script>
</body>
</html>
